* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: gray;
  background-image: url('../images/background.png');
}

main {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh;
}

.buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 50%;
}

button {
  width: 160px;
  height: 60px;
  border: 3px solid wheat;
  background-color: white;
  border-radius: 5px;
  font-size: 20px;
  color: lightcoral;
}

button:hover,
button:focus {
  box-shadow: 0 0 5px 5px yellow;
}

.board {
  display: flex;
  flex-wrap: wrap;
  width: 640px;
  height: 640px;
}

.board>div {
  border: 3px solid wheat;
  background-color: beige;
  width: 64px;
  height: 64px;
}

.furry {
  background-image: url('../images/goku.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.coin1,
.coin2,
.coin3,
.coin4,
.coin5,
.coin6,
.coin7 {
  background-repeat: no-repeat;
  background-position: center;
  width: 50px;
  height: 50px;
}

.coin1 {
  background-image: url('../images/1.jpg');
}

.coin2 {
  background-image: url('../images/2.jpg');
}

.coin3 {
  background-image: url('../images/3.jpg');
}

.coin4 {
  background-image: url('../images/4.jpg');
}

.coin5 {
  background-image: url('../images/5.jpg');
}

.coin6 {
  background-image: url('../images/6.jpg');
}

.coin7 {
  background-image: url('../images/7.jpg');
}

.score_board {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 640px;
}

.score {
  display: flex;
  width: 106px;
  margin-bottom: 5px;
  border: 3px solid wheat;
  background-color: white;
  border-radius: 5px;
}

.score_paragraph {
  margin-left: 15px;
}

.dragon_score {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 3px solid wheat;
  background-color: white;
  border-radius: 5px;
  font-size: 30px;
}

.dragon {
  width: 100px;
  height: 74px;
  background-image: url("../images/smok1.png");
}